body{
  font-family: 'Roboto', sans-serif;
  background-image: url("img/achtergrond.jpg");
  background-size: cover;

}

p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#enter{
  opacity: 1;
  margin-top: 60px;
}
#myAssignment{
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#myAnswer{
  font-size: 30px;
  text-align: center;
  align-items: center;
}

text{
  align-items: center;
}

#lol {
  text-align: center;
}

img{
  height: 90px;
}


div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    height: 500px;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
